.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css atau file CSS Anda */

/* Styling untuk tabel */
.table-container {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table-row {
  border-bottom: 1px solid #e2e2e2;
}

.table-cell, .table-header-cell {
  padding: 12px 15px;
  text-align: left;
}

/* Styling untuk pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styling untuk search dan filter */
.search-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.global-search {
  margin-right: 10px;
  padding: 8px;
}

.filter-select {
  padding: 8px;
}